@import url("https://fonts.googleapis.com/css2?family=Exo+2:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
a{
  color: #4DB8ff
};
a:visited{
  color: #18679c
}