.App {
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: left;
}

.title {
  color: white;
  padding-left: 175px;
  font-size: 35px;
  text-shadow: 2px 1px 2px black;
}

.todaysDate{
  color: white;
  padding-left: 175px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
  text-shadow: 2px 1px 2px black;

}

 @media (max-width: 800px ) { 
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: end;
      justify-content: left;
  }

  .title {
    color: white;
    padding-left: 175px;
    font-size: 24px;
    text-shadow: 2px 1px 2px black;
  }
} 
